.team {
    background-color: var(--surface-default);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--contrast-high);
}

.team-card {
    background-color: var(--surface-primary);
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--contrast-high);
}

.team-role {
    text-align: center;
}
